:root
  --default-color-10 $lightColor10
  --default-color-9 $lightColor9
  --default-color-8 $lightColor8
  --default-color-7 $lightColor7
  --default-color-6 $lightColor6
  --default-color-5 $lightColor5
  --default-color-4 $lightColor4
  --default-color-3 $lightColor3
  --default-color-2 $lightColor2
  --default-color-1 $lightColor1
  --background-color $backgroundColor
  --box-shadow $boxShadow
  --box-shadow-hover $boxShadowHover
  --text-color $textColor
  --text-color-sub $textColorSub
  --border-color $borderColor
  --code-color $codeColor
  --mask-color $maskColor
  @media (prefers-color-scheme: dark)
    --default-color-10 $darkColor10
    --default-color-9 $darkColor9
    --default-color-8 $darkColor8
    --default-color-7 $darkColor7
    --default-color-6 $darkColor6
    --default-color-5 $darkColor5
    --default-color-4 $darkColor4
    --default-color-3 $darkColor3
    --default-color-2 $darkColor2
    --default-color-1 $darkColor1
    --background-color $backgroundColorDark
    --box-shadow $boxShadowDark
    --box-shadow-hover $boxShadowHoverDark
    --text-color $textColorDark
    --text-color-sub $textColorSubDark
    --border-color $borderColorDark
    --code-color $codeColorDark
    --mask-color $maskColorDark
