$darkColor10 = rgba(0, 0, 0, 1)
$darkColor9 = rgba(0, 0, 0, .9)
$darkColor8 = rgba(0, 0, 0, .8)
$darkColor7 = rgba(0, 0, 0, .7)
$darkColor6 = rgba(0, 0, 0, .6)
$darkColor5 = rgba(0, 0, 0, .5)
$darkColor4 = rgba(0, 0, 0, .4)
$darkColor3 = rgba(0, 0, 0, .3)
$darkColor2 = rgba(0, 0, 0, .2)
$darkColor1 = rgba(0, 0, 0, .1)

$lightColor10 = rgba(255, 255, 255, 1)
$lightColor9 = rgba(255, 255, 255, .9)
$lightColor8 = rgba(255, 255, 255, .8)
$lightColor7 = rgba(255, 255, 255, .7)
$lightColor6 = rgba(255, 255, 255, .6)
$lightColor5 = rgba(255, 255, 255, .5)
$lightColor4 = rgba(255, 255, 255, .4)
$lightColor3 = rgba(255, 255, 255, .3)
$lightColor2 = rgba(255, 255, 255, .2)
$lightColor1 = rgba(255, 255, 255, .1)

$textShadow = 0 2px 4px $darkColor1;
$borderRadius = .25rem
$lineNumbersWrapperWidth = 2.5rem

$backgroundColor ?= #fff
$backgroundColorDark ?= #181818

$boxShadow = 0 1px 6px 0 $darkColor2
$boxShadowHover = 0 2px 16px 0 $darkColor2
$boxShadowDark = 0 1px 6px 0 $darkColor6
$boxShadowHoverDark = 0 2px 16px 0 $darkColor6

$textColor ?= #242424
$textColorDark ?= $lightColor8
$textColorSub = #7F7F7F
$textColorSubDark = #8B8B8B

$borderColor ?= #eaecef
$borderColorDark ?= $darkColor3

$codeColor ?= rgba(27, 31, 35, 0.05)
$codeColorDark ?= $darkColor3

$maskColor ?= #888
$maskColorDark ?= #000
